doctype html
html
  head
    title=subject.name
    link(rel="icon" type="image/png" href="/images/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/proffessors/course.css")
    script(defer src="/javascript/professor.subject.script.js") 
  body
    div.mainContainer
        nav.nav#nav 
            h1=subject.name
            div.navButtons
                a(href=`/Professor/myCourses/course/${subject.id}/attendance`) 
                    button Ver asistencias 
                a(href=`/Professor/myCourses/course/${subject.id}/attendance/download`) 
                    button(id="downloadExcel") Descargar excel                
                a(href="/Professor")
                    button Volver atrás
                button(onclick="logout();") Cerrar sesión
        h2 Administración
        section
            .nav 
                h3 Nuevas inscripciones
            if requests.length !== 0
                ul 
                    li.headersLi
                        div.name
                            h4 Nombre
                        div.name
                            h4 Apellido
                        div 
                            h4 DNI
                        div.email 
                            h4 Usuario
                        
                        div
                            h4 Respuesta
                    each request in requests
                        li.reqLi
                            div.reqData.name 
                                h4=request.RegistrationOfUser.first_name
                            div.reqData.name 
                                h4=request.RegistrationOfUser.last_name
                            div.reqData 
                                h4=request.RegistrationOfUser.dni
                            div.reqData.email 
                                h4=request.RegistrationOfUser.email
                            div.requestButtonsDiv 
                                button#acceptBtn OK 
                                button#declineBtn X
            else 
                h5 No hay solicitudes pendientes
        section
            .nav  
                h3 Alumnos
            if students.length !== 0
                ul 
                    li.headersLi
                        div.name
                            h4 Nombre
                        div.name
                            h4 Apellido
                        div 
                            h4 DNI
                        div.email 
                            h4 Usuario
                       
                        div
                            h4 Dar de baja
                    each student in students
                        li.matriLi
                            div
                                div.reqData.name 
                                    h4=student.RegistrationOfUser.first_name
                                div.reqData.name 
                                    h4=student.RegistrationOfUser.last_name
                                div.reqData 
                                    h4=student.RegistrationOfUser.dni
                                div.reqData.email 
                                    h4=student.RegistrationOfUser.email
                                div.matriButtonsDiv 
                                    button#dropOutBtn X
                            if student.RegistrationOfUser.schdConflicts
                                div.conflictsDiv 
                                    div
                                        span Superposición de horarios con: 
                                    div 
                                        each subject in matriculate.schdConflicts.subjects
                                            span=subject

            else    
                h5 No hay alumnos inscriptos a la materia   
        //-section  
            .nav 
                h3 Horarios de la materia
            .schedule
                each day in Object.keys(course.week)
                    div.scheduleDiv
                        input(type="checkbox" value=day checked=course.week[day].scheduled) 
                        label=day
                        select(name="start" id=`${day}StartSelect`)
                            each hour in HOURS_START
                                option(value=hour id=`${day}start${hour}` )=hour
                        select(name="end" id=`${day}EndSelect`) 
                            each hour in HOURS_END
                                option(value=hour id=`${day}end${hour}`)=hour

                        button(id="saveChangesBtn" onclick=`validateHours("${day}")`) Guardar
            .nav 
                h3 Fechas excepcionales
            .exceptedDays
                div 
                    label Nueva fecha
                    input(type="date")
                    button(id="addDateBtn") Añadir
                ul 
                    li 
                        div.dates
                            h3 17/07
                            button#deleteDateBtn Eliminar

